@charset "utf-8";

@font-face {
    font-family: "Haettenschweiler Regular";
    src: url(fuentes/HATTEN.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 400;
    font-size: 1rem;
    line-height: 2rem;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav-index-clases {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 60px;

    nav {
        display: flex;
        gap: 50px;
        align-items: center;

        a{ 
            font-weight: 900;
            color: white;
            font-size: 1rem;
        }

        .contacto-nav {
            background-color: #FECA11;
            padding: 5px 15px;
            border-radius: 20px;
            color: black;
        }
        .contacto-nav:hover {
            filter: saturate(50%)
        }
    }
}

#hero {
    background-image: url(imgemta/flecha_fondo.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    line-height: 4rem;
}

h2 {
    color: #181717;
    font-family: 'Haettenschweiler Regular', sans-serif;
    font-size: 6.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.5rem;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-variation-settings: "wdth" 700;
    font-style: italic;
}

li {
    list-style-type: none;
}

footer {
    background-color: #212121;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        font-size: 0.8rem;
        color: white;
        line-height: 1rem;
        text-align: center;
    }

    .bloque {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 12vh;

        p {
            text-align: left;
        }
    }

    .info-footer {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .redes {
        display: flex;
        gap: 20px;
        img { border-radius: 0px;}
    }
}

img {
    border-radius: 50px;
}


/* banda animada*/
.banda-animada {
    overflow-x: hidden;
    width: 100%;
    padding: 15px;
    background-color: #FECA11;
}
.palabras-banda {
    display: flex;
    gap: 20vh;
    animation: spin 10s infinite linear;

    h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: 800;
    }
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30%)
    }
}


/*porqué elegirnos*/
#porque-emta {
    display: flex;
    padding: 15vh;
    align-items: center;
    justify-content: center;
    gap: 50px;

    h2 {
        max-width: 400px;
        border-right: solid black 1px;
    }

    ul {
        max-width: 650px;
    }
}


/* TODO ESTO LO RESUMÍ ARRIBA
.linea-porque-emta {
    display: block;
    border: none;
    border-left: 1px solid #5f5f5f;
    width: 0;
    height: 320px;
    margin: 0 40px;
    align-self: center;
}

.items-porque-emta {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;
}

.items-porque-emta li {
    font-size: 0.8rem;
}

#porque-emta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
} */

figure img {
    min-height: 100vh;
}

/** instructores **/
#instructores {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    h2, h3 {
        color: white;
    }

    .años-experiencia, .arqueros-activos, .medallas-ganadas, details {
        border-radius: 70px 0px 0px 70px;
        padding: 55px 80px;
        height: 260px;
        position: absolute;
        right: 0;
    }

    .años-experiencia {
        background-color: #181717;
        width: 100%;
    }

    .arqueros-activos {
        background-color: #2f2f2f;
        width: 75%;
    }

    .medallas-ganadas {
        background-color: #484848;
        width: 50%;
    }

    details {
        background-color: #FECA11;
        width: 25%;
    }
}


/** CONTACTO Y APP **/
#bodyfondo {
    background-image: url("imgemta/arqueros_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    nav {
        margin: 5vh 10vh;
        left: 0;
    }

    a:hover {
        filter: brightness(80%);
    }
}

#maincontacto,
#mainapp {
    display: flex;
    justify-content: center;
}

#infocontenedor,
#ingreso-app {
    background: rgb(217, 217, 217, 0.8);
    padding: 10vh;
    border-radius: 50px;
    margin: 2vh 0vh 10vh;
}

#infocontenedor {
    width: 80%;
    display: flex;
    justify-content: space-around;

    .datos {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

form {
    width: 45%;
    display: flex;
    gap: 30px;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        padding: 8px 20px;
        background-color: #EDEDED;
        border: none;
        border-radius: 25px;
    }

    textarea {
        height: 220px;
    }

    #enviar {
        width: 140px;
        background-color: #3D3D3D;
        font-size: 1rem;
        line-height: 1.3rem;
        color: white;
    }
}

#ingreso-app{
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 5vh;
    }

    a{
        font-weight: 700;
    }
    a:hover {
        color: #5f5f5f;
    }
}