@charset "utf-8";

@font-face {
    font-family: "Haettenschweiler Regular";
    src: url(fuentes/HATTEN.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-variation-settings: "wdth" 700;
    font-style: italic;
}

footer {
    background-color: #212121;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        font-size: 0.8rem;
        color: white;
        line-height: 1rem;
        text-align: center;
    }

    .bloque {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 12vh;

        p {
            text-align: left;
        }
    }

    .info-footer {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .redes {
        display: flex;
        gap: 20px;
        img { border-radius: 0px;}
    }
}

img {
    border-radius: 50px;
}

/** CONTACTO Y APP **/
#bodyfondo {
    background-image: url("imgemta/arqueros_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    nav {
        margin: 5vh 10vh;
    }

    a:hover {
        filter: brightness(80%);
    }
}

#maincontacto,
#mainapp {
    display: flex;
    justify-content: center;
}

#infocontenedor,
#ingreso-app {
    background: rgb(217, 217, 217, 0.8);
    padding: 10vh;
    border-radius: 50px;
    margin: 2vh 0vh 10vh;
}

#infocontenedor {
    width: 80%;
    display: flex;
    justify-content: space-around;

    .datos {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

form {
    width: 45%;
    display: flex;
    gap: 30px;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        padding: 8px 20px;
        background-color: #EDEDED;
        border: none;
        border-radius: 25px;
    }

    textarea {
        height: 220px;
    }

    #enviar {
        width: 140px;
        background-color: #3D3D3D;
        font-size: 1rem;
        line-height: 1.3rem;
        color: white;
    }
}

#ingreso-app{
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 5vh;
    }

    a{
        font-weight: 700;
    }
    a:hover {
        color: #5f5f5f;
    }
}

/*porqué elegirnos*/

h2 {
    color: #181717;
    font-family: 'Haettenschweiler Regular', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.5rem;
}

.linea-porque-emta {
    display: block;
    border: none;
    border-left: 1px solid #5f5f5f;
    width: 0;
    height: 320px;
    margin: 0 40px;
    align-self: center;
}

.items-porque-emta {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;
}

.items-porque-emta li {
    font-size: 0.8rem;
}

#porque-emta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

figure img {
    min-height: 100vh;
}