@charset "utf-8";

@font-face {
    font-family: "Haettenschweiler Regular";
    src: url(fuentes/HATTEN.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* app emta*/ 
.appemta{
    background-image: url("imgemta/arqueros_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*contacto*/
#bodycontacto{
    background-image: url("imgemta/arqueros_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.datos h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-style: italic;

}

.formulario form{
    display: flex;
    flex-direction: column;
}

#infocontenedor{
    display: flex;
    gap: 60px;
    justify-content: center;
    background: rgb(217, 217, 217, 0.5);
    width: 50%;
    flex-direction: row;
    padding: 30px;
    border-radius: 50px;
}

img{
    border-radius: 50px;
}

.costado{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.formulario textarea{
    width: auto;
    height: 230px;
}

.botonenviar{
    padding: 45px 0px 0px;
}

.maincontacto{
    display: flex;
    justify-content: center;
}